:host {
    display: block;
    padding: 16px; /* 16px é um bom espaçamento padrão */
    box-sizing: border-box;
  }

  
ion-content::-webkit-scrollbar {
    display: none;
  }
  
  
  ion-content {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
  }